CompileFlags:
  Add: [-std=c++14]

Diagnostics:
  ClangTidy:
    Add:
      - bugprone-*
      - modernize-*
      - cppcoreguidelines-*
      - readability-*
      - performance-*
      - llvm-*
      - concurrency-*
