CompileFlags:
  Add:
    - -std=c++14
    - -Wall
    - -Wextra

Diagnostics:
  ClangTidy:
    Add:
      - bugprone-*
      - modernize-*
      - cppcoreguidelines-*
      - readability-*
      - performance-*
      - llvm-*
      - concurrency-*
