CompileFlags:
  Add:
    - -std=c++17
    - -Wall
    - -Wextra

Diagnostics:
  ClangTidy:
    FastCheckFilter: None
    Add:
      - bugprone*
      - modernize*
      - cppcoreguidelines*
      - readability*
      - performance*
      - concurrency*
